body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
    margin: 0; /* Remove default body margin */
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#puzzle-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children */
}

#crossword {
    margin-bottom: 20px; /* Adjust as needed */
}

#buttons-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Space between buttons */
}

#clues-container {
    margin-top: 20px;
}

.crossword-grid {
    border-collapse: collapse;
}

.crossword-grid td {
    width: 30px; /* Adjust based on your preference */
    height: 30px; /* Adjust based on your preference */
    border: 1px solid #000; /* Ensure every cell has a border */
    text-align: center;
    vertical-align: middle;
}

.crossword-grid td input {
    width: 100%;
    height: 100%;
    border: none; /* Remove input border to blend with the cell */
    text-align: center;
}

.crossword-grid td.blocked {
    background-color: #aaa; /* Color for blocked cells */
}
